* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: #fafafa;
  width: 1440px;
  height: 900px;
}

header {
  margin: 30px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  margin: -5px 652px 0px 42px;
  z-index: 1;
}
nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 41%);
}
nav a:hover {
  color: #313131;
  font-weight: 600;
}

.navfield {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-right: 30px; */
  /* gap: 30px; */
}
#navIcons1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
  /* gap: 30px; */
}
#navIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-right: 30px; */
  /* gap: 30px; */
}
#navIcons1 a {
  padding-right: 7px;
  flex-wrap: wrap;
}
#navIcons a {
  padding-right: 7px;
  flex-wrap: wrap;
}

.icons {
  display: flex;
  cursor: pointer;
}

.icons h4 {
  color: #828282;
  font-weight: 500;
  font-size: 14px;
}

.dropContent {
  display: none;
}

#navIcons1:hover .dropContent {
  color: #313131;
  font-weight: 600;
  display: block;
}

#navIcons1:hover #arrowD {
  margin-bottom: 3px;
  transform: rotate(180deg);
}

.drop {
  display: none;
}
#navIcons:hover .drop {
  color: #313131;
  font-weight: 600;
  display: block;
}

#navIcons:hover #arrowD {
  margin-bottom: 3px;
  transform: rotate(180deg);
}

#dropBox {
  position: absolute;
  top: 0px;
  left: 10px;
}

#dropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 23px 28px;
  position: absolute;
  top: 70px;
  left: 114px;
  width: 153px;
  height: 160px;
  background-color: #ffffff;
  box-shadow: 0px 5px 8px 0px rgba(210, 208, 208, 0.5),
    0px 7px 20px 0 rgba(210, 208, 208, 0.5);
  border-radius: 10px;
}
#dropdown2 {
  padding: 23px 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 70px;
  left: 305px;
  width: 117px;
  height: 127px;
  background-color: #ffffff;
  box-shadow: 0px 5px 8px 0px rgba(210, 208, 208, 0.5),
    0px 7px 20px 0 rgba(210, 208, 208, 0.5);
  border-radius: 10px;
}

#dropdown2 h4 {
  color: #828282;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.navBtn {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#login {
  border: none;
  background-color: hsl(0, 0%, 98%);
  color: #313131;
  cursor: pointer;
}

#login:hover {
  font-weight: 500;
  cursor: pointer;
  color: #313131;
}

#reg {
  margin-right: -40.12px;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 41%);
  color: hsl(0, 0%, 41%);
  cursor: pointer;
}
#reg:hover {
  border: none;
  width: 100px;
  height: 40px;
  font-weight: 500;
  border-radius: 10px;
  background-color: hsl(0, 0%, 98%);
  border: 2px solid #313131;
  color: #313131;
  cursor: pointer;
}

#hamMenu {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  grid-gap: 144px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  margin-top: 133px;
  margin-left: 169px;
}
.leftSide h1 {
  font-size: 71px;
  width: 470px;
}
.leftSide p {
  margin-top: 70px;
  width: 440px;
  color: #828282;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

#learn {
  margin-top: 60px;
  width: 162px;
  padding: 15px 5px;
  border-radius: 15px;
  border: 1px solid #4f4f4f;
  color: #ffffff;
  font-weight: 700;
  background-color: #000000;
  cursor: pointer;
}
#learn:hover {
  margin-top: 60px;
  width: 162px;
  padding: 15px 5px;
  border-radius: 10px;
  border: 1px solid #4f4f4f;
  color: #000000;
  font-weight: 700;
  background-color: #fafafa;
  cursor: pointer;
}

#img {
  width: 511px;
  height: 642px;
  margin-top: 51px;
}
#img2 {
  display: none;
}

.brands {
  display: flex;
  flex-direction: row;
  margin-top: 147px;
  gap: 40px;
}

#biz {
  width: 125px;
  height: 26px;
}

#audiophile {
  width: 73px;
  height: 37px;
}

#meet {
  width: 85px;
  height: 24px;
}

#maker {
  width: 85px;
  height: 26px;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* animation-name: modalopen; */
  animation-duration: 1s;
  /* overflow: hidden; */
}
.modal {
  /* padding-top: 5%; */
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 40%;
  width: 60%;
  height: 140%;
  background-color: #ffffff;
  overflow-y: auto;
  /* overflow: hidden; */
}

.modalMenu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 27px;
  margin-top: -30px;
  overflow-y: auto;
}
.modalMenu a {
  text-decoration: none;
  color: #828282;
  font-size: 16px;
  font-weight: 500;
}

.modalContainer1 {
  /* display: none; */
}
.modalContainer2 {
  /* display: none; */
}

#modalDropdown {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0px 28px;
  width: 153px;
  background-color: #ffffff;
}

#modalDropdown2 {
  padding: 0px 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 117px;
  background-color: #ffffff;
}

#modalDropdown2 h4 {
  color: #828282;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

#arrowD {
  padding-bottom: 2px;
}

#arrowD:hover .dropContent {
  transform: rotate(180deg);
  display: block;
}

.closeBtn {
  position: relative;
  top: -22px;
  left: 80%;
  font-size: 100px;
  font-weight: 200;
}

.modalBtn {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#mBtn1 {
  align-self: center;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  color: #828282;
}
#mBtn2 {
  align-self: center;
  width: 200px;
  padding: 10px;
  border: 2px solid #828282;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  color: #828282;
  border-radius: 15px;
}

@media screen and (max-width: 550px) {
  body {
    width: 550px;
    height: 780px;
    background-color: #ffffff;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    display: none;
  }
  .navBtn {
    display: none;
  }

  #hamMenu {
    display: block;
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
    margin-left: 18px;
  }

  #img {
    display: none;
  }
  #img2 {
    display: block;
    width: 375px;
    height: 282px;
    margin-bottom: -120px;
  }
  .leftSide h1 {
    font-size: 31px;
    width: 333px;
  }
  .leftSide p {
    text-align: center;
    margin-top: 33px;
    width: 350px;
    color: #828282;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
  }

  #learn {
    margin-top: 33px;
    width: 162px;
    padding: 15px 5px;
    border-radius: 15px;
    border: 1px solid #4f4f4f;
    color: #ffffff;
    font-weight: 700;
    background-color: #000000;
  }

  .brands {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    gap: 40px;
  }
}
